.loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aliceblue;
}
.loader{
    width: 48px;
    height: 48px;
    border: 5px solid purple;
    border-bottom-color: rgb(116, 114, 113);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.van-logo{
    width: 150px;
}
  